<div id='servicios' class='bg-white py-24 sm:py-32'>
  <div class='mx-auto max-w-7xl px-6 lg:px-8'>
    <div class='mx-auto max-w-2xl lg:mx-0'>
      <h2 class='text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl'>Servicios de posicionamiento web </h2>
      <p class='mt-6 text-lg/8 text-gray-600'>We’re a dynamic group of individuals who are passionate about what we do and dedicated to delivering the best results for our clients.</p>
    </div>

    <ul role='list' class='mx-auto mt-20 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3'>
      <li>
        <img src='https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80' alt='' class='aspect-3/2 w-full rounded-2xl object-cover outline-1 -outline-offset-1 outline-black/5' />
        <h3 class='mt-6 text-2xl font-semibold tracking-tight text-gray-900'>Análisis inicial</h3>
        <ul role='list' class='mt-6 space-y-3 text-base/7 text-gray-700'>
          <li><span class='mr-2 text-sky-500' aria-hidden='true'>›</span>Keyword Research</li>
          <li><span class='mr-2 text-sky-500' aria-hidden='true'>›</span>Arquitectura</li>
          <li><span class='mr-2 text-sky-500' aria-hidden='true'>›</span>Auditoría técnica</li>
          <li><span class='mr-2 text-sky-500' aria-hidden='true'>›</span>Estrategia</li>
          <li><span class='mr-2 text-sky-500' aria-hidden='true'>›</span>Consultoría</li>
        </ul>
      </li>

      <li>
        <img src='https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80' alt='' class='aspect-3/2 w-full rounded-2xl object-cover outline-1 -outline-offset-1 outline-black/5' />
        <h3 class='mt-6 text-2xl font-semibold tracking-tight text-gray-900'>SEO On Page</h3>
        <ul role='list' class='mt-6 space-y-3 text-base/7 text-gray-700'>
          <li><span class='mr-2 text-sky-500' aria-hidden='true'>›</span>Optimización</li>
          <li><span class='mr-2 text-sky-500' aria-hidden='true'>›</span>Interlinking</li>
          <li><span class='mr-2 text-sky-500' aria-hidden='true'>›</span>Indexación</li>
          <li><span class='mr-2 text-sky-500' aria-hidden='true'>›</span>Contenidos</li>
          <li><span class='mr-2 text-sky-500' aria-hidden='true'>›</span>Core Web Vitals</li>
        </ul>
      </li>

      <li>
        <img src='https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80' alt='' class='aspect-3/2 w-full rounded-2xl object-cover outline-1 -outline-offset-1 outline-black/5' />
        <h3 class='mt-6 text-2xl font-semibold tracking-tight text-gray-900'>SEO Off Page</h3>
        <ul role='list' class='mt-6 space-y-3 text-base/7 text-gray-700'>
          <li><span class='mr-2 text-sky-500' aria-hidden='true'>›</span>Auditoría Backlinks</li>
          <li><span class='mr-2 text-sky-500' aria-hidden='true'>›</span>Link Building</li>
          <li><span class='mr-2 text-sky-500' aria-hidden='true'>›</span>Link Baiting</li>
          <li><span class='mr-2 text-sky-500' aria-hidden='true'>›</span>Reputación Online</li>
          <li><span class='mr-2 text-sky-500' aria-hidden='true'>›</span>Estrategia Off Page</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
