---
interface Props {
  text: string
  color?: string
  as?: keyof HTMLElementTagNameMap
  class?: string
}

const {
  text,
  color = 'var(--color-teal)',
  as = 'p',
  class: className = '',
} = Astro.props

const Tag = as
---

<Tag
  class={`inline-flex items-center gap-3 text-xs font-bold uppercase tracking-widest text-pretty ${className}`}>
  <span class="block h-px w-8 shrink-0"></span>
  {text}
</Tag>
