---
interface Props {
  text?: string;
  class?: string;
}

const { text = 'Hablamos por WhatsApp', class: className = '' } = Astro.props;
---

<a
  href='https://wa.me/34692051399?text=Hola%20Salva%2C%20he%20visto%20tu%20web%20y%20quer%C3%ADa%20comentarte%20mi%20negocio'
  target='_blank'
  rel='noopener noreferrer nofollow'
  class={`rounded-md bg-[#25D366] px-3.5 py-2.5 text-sm font-bold text-gray-900 shadow-sm hover:bg-[#20BA5A] focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#25D366] ${className}`}>
  {text}
</a>
