---
interface Props {
  text?: string;
  class?: string;
}

const { text = 'Hablamos por WhatsApp', class: className = '' } = Astro.props;
---

<a
  href='https://wa.me/34692051399?text=Hola%20Salva%2C%20he%20visto%20tu%20web.%20Tengo%20un%20negocio%20en%20Barcelona%20y%20me%20gustar%C3%ADa%20saber%20si%20el%20SEO%20puede%20ayudarme%20a%20conseguir%20m%C3%A1s%20clientes.'
  target='_blank'
  rel='noopener noreferrer nofollow'
  class={`rounded-md bg-sky-500 px-3.5 py-2.5 text-sm font-bold text-white shadow-sm hover:bg-sky-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-500 ${className}`}>
  {text}
</a>
