---
import CenteredNav from '../../CenteredNav.astro'
---

<div class="bg-gradient-to-b from-base to-surface/60">
  <CenteredNav />

  <div class="px-6 pt-14 lg:px-8">
    <div class="mx-auto max-w-2xl py-24 sm:py-32">
      <div class="hidden sm:mb-8 sm:flex sm:justify-center">
        <h1 class="text-sm italic font-bold text-cream">Consultor SEO en Barcelona</h1>
      </div>
      <div class="text-center">
          <p class="font-heading text-h1 font-extrabold tracking-tighter text-balance text-white">Si no apareces en Google, <span class="text-cream">no existes.</span></p>
        <div class='mt-6 flex items-center justify-center'>
          <div class='h-px w-32 bg-gradient-to-r from-cream/5 to-cream/35'></div>
          <div class='h-px w-10 bg-cream/60'></div>
        </div>
        <p class="mt-6 text-p font-medium text-pretty text-white/70">Cada día, <strong>cientos de personas</strong> en Barcelona buscan en Google lo que tú ofreces. Si no apareces en los primeros resultados, <strong>no saben que existes</strong>. Mi trabajo es que dejes de ser invisible y seas <strong>lo primero que vean</strong>.</p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a href="#" class="rounded-md bg-cream px-3.5 py-2.5 text-sm font-bold text-base shadow-xs hover:bg-cream/90">Reserva tu llamada</a>
        </div>
      </div>
    </div>
  </div>
</div>
