---
import Footer from '../components/Footer.astro'
import StatsBand from '../components/StatsBand.astro'
import '../styles/global.css'
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/png'
      href='/favicon.png'
    />
    <link
      rel='icon'
      href='/favicon.ico'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>Consultor SEO Local en Barcelona | SalvaSEO</title>
    <meta
      name='description'
      content='Consultor SEO freelance en Barcelona. Ayudo a negocios locales a aparecer en Google con SEO local, Google Business Profile y estrategia personalizada.'
    />
    <link
      rel='canonical'
      href='https://salvaseo.com/'
    />
    <meta
      name='robots'
      content='index, follow, max-snippet:-1, max-image-preview:large'
    />

    <script>
      import '@tailwindplus/elements';
    </script>
  </head>
  <body>
    <slot />
    <StatsBand />
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
